body {
    margin: 30px auto;
    width: 80%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
    font-family: 'Proza Libre', sans-serif;
}
ul,li {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
    font-family: 'Proza Libre', sans-serif;
}
footer {
    border-top: 3px solid #008292;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
    font-family: 'Proza Libre', sans-serif;
}

ul.posts li {
    list-style: none;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

th, td {
    padding: 15px;
    text-align: left;
}

table {
  width: 100%;
}

div.inside-cloud {
  opacity: 1;
