 <!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			
			<script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0070/5458.js" async="async"></script>

			<!-- Google Tag Manager -->
<!--      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-M7WT3W6');</script>  -->
      <!-- End Google Tag Manager -->

			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="https://fonts.googleapis.com/css?family=Proza+Libre" rel="stylesheet">
<!--	Emojis.. might install later, require setting up encoding
      <script src="https://cdn.jsdelivr.net/npm/emojione@3.1.2/lib/js/emojione.min.js"></script>
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/emojione@3.1.2/extras/css/emojione.min.css"/>  -->
<!--			<meta name="description" content="Portfolio of Tobi Jo Schermuly"/>
      <meta name="keywords" content="Tobi Jo Schermuly, Product Manaer, Franklin, Brentwood, Nashville, Tennessee, Software, Millennial"/> -->

      <!-- Social media cards below -->
<!--			<meta property="og:title" content="Tobi Jo Schermuly">
			<meta property="og:description" content="Website Portfolio of Tobi Jo Schermuly">
			<meta property="og:image" content="http://tobijoschermuly.com/images/cloud7.png">
			<meta property="og:url" content="http://http://tobijoschermuly.com">
			<meta name="twitter:card" content="summary_large_image"> -->
			<!-- End Social media cards below -->

		</head>
		<body>
		  <!-- Google Tag Manager (noscript) -->
<!--      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M7WT3W6"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->

<!--			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
					<li><a href="/contact">Help Us!</a></li>
	    		</ul>
			</nav>
			-->
				<div class="container">

			{{ content }}

			</div>
			<footer>
	    		<ul>
<!--	        		<li>Hosted on <a href="https://pages.github.com/" target="_blank">GitHub Pages</a>, thanks to their free hosting for open source projects - <a href="https://github.com/t0biasj0seph" target="_blank">My code here: (GitHub)</a></li>
-->				</ul>
			</footer>
		</body>
	</html>
